## Reporting in Pandas

### Aggregating statistics grouped by category in Pandas

groupby() and pivot_table() are very powerful in analysing and summarizing the data. It is very useful when applying complex aggregation.

In [1]:
import pandas as pd
import numpy as np

In [4]:
# reading the online stores sales data into the pandas dataframe

df = pd.read_csv('online_store_sales.csv')
df

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,9796,CA-2017-125920,21/05/2017,28/05/2017,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,Chicago,Illinois,60610.0,Central,OFF-BI-10003429,Office Supplies,Binders,"Cardinal HOLDit! Binder Insert Strips,Extra St...",3.7980
9796,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Office Supplies,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.3680
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

### Understanding our dataset

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9800 non-null   int64
 1   Order ID       9800 non-null   object
 2   Order Date     9800 non-null   object
 3   Ship Date      9800 non-null   object
 4   Ship Mode      9800 non-null   object
 5   Customer ID    9800 non-null   object
 6   Customer Name  9800 non-null   object
 7   Segment        9800 non-null   object
 8   Country        9800 non-null   object
 9   City           9800 non-null   object
 10  State          9800 non-null   object
 11  Postal Code    9789 non-null   float64
 12  Region         9800 non-null   object
 13  Product ID     9800 non-null   object
 14  Category       9800 non-null   object
 15  Sub-Category   9800 non-null   object
 16  Product Name   9800 non-null   object
 17  Sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [14]:
# Converting the column labels to lowercase and replacing the spaces (' ') and hyphen ('-') with underscores ('_')

col_names = [col.strip().lower().replace(' ', '_').replace('-', '_') for col in df.columns]

df.columns = col_names
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales'],
      dtype='object')

### Grouping the data on the basis of Product Category

In [15]:
grouped_df = df.groupby('category')

grouped_df

### To return all the groups and row indexes

The `groups` attribute is a dictionary whose keys are the unique groups in the data. The corresponing values are the axis labels (i.e, row numbers) belonging to each group.

In [17]:
# this is what it looks like

grouped_df.groups

{'Furniture': [0, 1, 3, 5, 10, 23, 24, 27, 29, 36, 38, 39, 51, 52, 57, 65, 66, 72, 73, 76, 78, 85, 93, 96, 104, 110, 117, 119, 124, 125, 128, 129, 139, 140, 146, 149, 157, 167, 173, 177, 189, 192, 201, 204, 213, 222, 226, 228, 229, 231, 232, 234, 238, 239, 241, 242, 244, 249, 254, 272, 282, 292, 293, 294, 295, 301, 303, 304, 309, 310, 311, 313, 317, 325, 328, 338, 354, 362, 364, 369, 377, 384, 387, 399, 408, 412, 413, 415, 417, 422, 424, 425, 439, 440, 444, 446, 453, 456, 457, 462, ...], 'Office Supplies': [2, 4, 6, 8, 9, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 25, 28, 30, 31, 32, 33, 34, 37, 42, 43, 45, 46, 49, 50, 53, 55, 56, 58, 60, 61, 63, 64, 67, 69, 70, 71, 74, 75, 77, 79, 80, 81, 82, 83, 84, 87, 88, 89, 91, 92, 94, 95, 97, 98, 99, 101, 102, 105, 108, 111, 112, 113, 114, 115, 116, 118, 120, 121, 122, 126, 127, 131, 132, 133, 134, 135, 136, 137, 138, 141, 142, 143, 144, 145, 150, 151, 153, 154, 155, 156, 158, 160, 162, 163, 164, ...], 'Technology': [7, 11, 19, 26, 35, 40, 41, 44, 47, 48, 54, 59, 62, 68, 86, 90, 100, 103, 106, 107, 109, 123, 130, 147, 148, 152, 159, 161, 165, 170, 181, 182, 183, 184, 186, 190, 205, 207, 211, 214, 215, 216, 218, 223, 235, 240, 251, 257, 258, 262, 263, 264, 265, 271, 281, 284, 291, 314, 318, 319, 320, 324, 326, 331, 335, 343, 345, 349, 373, 375, 383, 385, 386, 390, 391, 392, 401, 405, 406, 421, 427, 430, 431, 435, 436, 452, 455, 460, 473, 477, 481, 483, 486, 487, 488, 489, 493, 511, 515, 519, ...]}

In [20]:
# to get unique keys from the groups

grouped_df.groups.keys()

dict_keys(['Furniture', 'Office Supplies', 'Technology'])

In [22]:
# filtering data based on group category keys

grouped_df.get_group('Furniture')

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
10,11,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9786,9787,US-2015-114377,05/11/2015,05/11/2015,Same Day,BG-11035,Barry Gonzalez,Consumer,United States,Hampton,Virginia,23666.0,South,FUR-CH-10004754,Furniture,Chairs,"Global Stack Chair with Arms, Black",149.9000
9787,9788,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-BO-10001811,Furniture,Bookcases,"Atlantic Metals Mobile 5-Shelf Bookcases, Cust...",1023.3320
9788,9789,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10004063,Furniture,Chairs,Global Deluxe High-Back Manager's Chair,600.5580
9790,9791,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10001714,Furniture,Chairs,"Global Leather & Oak Executive Chair, Burgundy",211.2460
9792,9793,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.7720

### Returning the first row, last row, nth for each group

In [24]:
# returning the first row for each category

grouped_df.first()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,sub_category,product_name,sales
category,,,,,,,,,,,,,,,,,
Furniture,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Bookcases,Bush Somerset Collection Bookcase,261.960
Office Supplies,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Labels,Self-Adhesive Address Labels for Typewriters b...,14.620
Technology,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Phones,Mitel 5320 IP Phone VoIP phone,907.152

In [25]:
# returning the last row for each category

grouped_df.last()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,sub_category,product_name,sales
category,,,,,,,,,,,,,,,,,
Furniture,9793,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10003396,Chairs,Global Deluxe Steno Chair,107.772
Office Supplies,9797,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,OFF-AR-10001374,Art,"BIC Brite Liner Highlighters, Chisel Tip",10.368
Technology,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.384

In [26]:
# returning the nth row for each category

grouped_df.nth(19)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
32,33,US-2016-150630,17/09/2016,21/09/2016,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,Pennsylvania,19140.0,East,OFF-BI-10001525,Office Supplies,Binders,"Acco Pressboard Covers with Storage Hooks, 14 ...",6.858
76,77,US-2018-118038,09/12/2018,11/12/2018,First Class,KB-16600,Ken Brennan,Corporate,United States,Houston,Texas,77041.0,Central,FUR-FU-10000260,Furniture,Furnishings,"6"" Cubicle Wall Clock, Black",9.708
107,108,CA-2018-119004,23/11/2018,28/11/2018,Standard Class,JM-15250,Janet Martin,Consumer,United States,Charlotte,North Carolina,28205.0,South,TEC-PH-10002844,Technology,Phones,Speck Products Candyshell Flip Case,27.992

### Grouping the data based on product category and sub-category

In [27]:
# grouping based on category first then sub-category

grouped_df = df.groupby(['category', 'sub_category'])
grouped_df

In [29]:
# returning each group and row ids associated with them

grouped_df.groups

{('Furniture', 'Bookcases'): [0, 27, 38, 189, 192, 213, 292, 354, 369, 399, 412, 468, 472, 485, 688, 708, 736, 783, 841, 906, 954, 1042, 1114, 1211, 1247, 1302, 1369, 1386, 1534, 1539, 1545, 1594, 1610, 1714, 1723, 1760, 1762, 1860, 1875, 1932, 2007, 2025, 2115, 2122, 2225, 2262, 2281, 2305, 2326, 2353, 2403, 2415, 2471, 2543, 2546, 2558, 2603, 2650, 2654, 2737, 2777, 2796, 2808, 2825, 2860, 3023, 3030, 3074, 3098, 3100, 3102, 3175, 3351, 3365, 3368, 3466, 3507, 3512, 3762, 3820, 3845, 3910, 3928, 3985, 3994, 3999, 4023, 4071, 4088, 4110, 4184, 4217, 4223, 4266, 4284, 4383, 4385, 4389, 4423, 4453, ...], ('Furniture', 'Chairs'): [1, 23, 39, 52, 57, 66, 72, 85, 124, 128, 149, 157, 167, 173, 177, 228, 229, 244, 249, 294, 310, 317, 328, 362, 413, 415, 417, 424, 439, 444, 456, 457, 498, 502, 526, 531, 539, 551, 569, 586, 622, 635, 657, 730, 769, 777, 787, 791, 799, 819, 829, 847, 880, 916, 960, 980, 983, 990, 1021, 1030, 1045, 1060, 1067, 1081, 1126, 1158, 1177, 1190, 1198, 1200, 1202, 1212, 1249, 1267, 1274, 1310, 1313, 1350, 1359, 1367, 1411, 1433, 1438, 1446, 1463, 1468, 1492, 1515, 1570, 1573, 1575, 1595, 1627, 1701, 1709, 1791, 1822, 1832, 1841, 1847, ...], ('Furniture', 'Furnishings'): [5, 29, 36, 51, 65, 73, 76, 78, 93, 96, 104, 110, 119, 129, 139, 140, 146, 204, 222, 234, 238, 239, 242, 254, 272, 293, 295, 301, 304, 309, 311, 313, 325, 364, 387, 422, 425, 440, 446, 462, 467, 478, 497, 499, 510, 527, 532, 545, 552, 559, 562, 579, 597, 603, 616, 617, 620, 626, 638, 640, 648, 668, 669, 678, 689, 701, 702, 716, 717, 719, 723, 750, 754, 768, 775, 800, 804, 807, 813, 848, 853, 866, 875, 883, 884, 912, 913, 947, 948, 952, 959, 970, 988, 998, 999, 1010, 1011, 1016, 1017, 1031, ...], ('Furniture', 'Tables'): [3, 10, 24, 117, 125, 201, 226, 231, 232, 241, 282, 303, 338, 377, 384, 408, 453, 463, 494, 522, 557, 661, 670, 703, 721, 728, 746, 755, 810, 915, 942, 946, 949, 1002, 1013, 1040, 1082, 1097, 1129, 1155, 1157, 1245, 1246, 1354, 1374, 1394, 1395, 1402, 1405, 1409, 1456, 1461, 1505, 1516, 1558, 1562, 1580, 1669, 1689, 1699, 1713, 1727, 1750, 1811, 1814, 1831, 1863, 1872, 1873, 1889, 1899, 1948, 1988, 2058, 2069, 2091, 2116, 2141, 2228, 2274, 2277, 2289, 2347, 2357, 2358, 2359, 2413, 2425, 2437, 2441, 2477, 2483, 2493, 2567, 2591, 2609, 2664, 2726, 2746, 2812, ...], ('Office Supplies', 'Appliances'): [9, 14, 22, 79, 98, 144, 151, 169, 174, 176, 202, 203, 247, 261, 287, 359, 378, 404, 459, 466, 538, 561, 583, 594, 623, 627, 637, 645, 647, 654, 673, 676, 684, 705, 712, 802, 811, 830, 834, 923, 928, 936, 939, 1044, 1061, 1077, 1094, 1137, 1146, 1159, 1188, 1250, 1271, 1295, 1308, 1322, 1333, 1345, 1375, 1421, 1536, 1550, 1578, 1626, 1684, 1697, 1711, 1716, 1724, 1725, 1726, 1734, 1818, 1820, 1836, 1839, 1858, 1888, 1949, 1959, 1965, 1983, 1995, 2009, 2045, 2077, 2129, 2190, 2192, 2194, 2211, 2215, 2230, 2245, 2250, 2253, 2254, 2284, 2286, 2287, ...], ('Office Supplies', 'Art'): [6, 18, 21, 31, 33, 61, 67, 81, 89, 108, 111, 135, 141, 156, 164, 168, 179, 193, 195, 196, 224, 225, 243, 266, 275, 305, 307, 308, 316, 340, 346, 348, 356, 363, 374, 388, 403, 416, 419, 428, 447, 449, 450, 451, 479, 482, 490, 506, 507, 512, 513, 514, 555, 574, 592, 608, 625, 672, 694, 698, 751, 774, 776, 805, 809, 833, 839, 840, 850, 852, 861, 863, 882, 892, 927, 929, 930, 953, 965, 981, 989, 1000, 1020, 1038, 1039, 1043, 1053, 1063, 1070, 1076, 1091, 1098, 1101, 1122, 1124, 1127, 1139, 1152, 1161, 1181, ...], ('Office Supplies', 'Binders'): [8, 13, 15, 20, 25, 28, 32, 45, 49, 60, 63, 70, 75, 80, 94, 95, 97, 101, 105, 112, 118, 120, 126, 137, 150, 163, 185, 198, 208, 221, 230, 233, 260, 273, 280, 286, 296, 302, 306, 323, 330, 332, 333, 334, 336, 337, 341, 351, 353, 366, 372, 380, 382, 389, 393, 394, 426, 429, 434, 461, 464, 469, 496, 500, 501, 503, 505, 509, 521, 534, 536, 537, 546, 549, 560, 567, 572, 584, 590, 604, 605, 607, 615, 618, 621, 628, 636, 639, 655, 658, 662, 679, 680, 699, 700, 709, 715, 718, 734, 735, ...], ('Office Supplies', 'Envelopes'): [30, 37, 83, 114, 116, 122, 142, 162, 194, 253, 269, 355, 420, 458, 492, 495, 530, 656, 696, 711, 725, 763, 764, 785, 828, 896, 918, 962, 985, 996, 1006, 1023, 1109, 1120, 1125, 1128, 1131, 1136, 1182, 1228, 1232, 1244, 1387, 1401, 1427, 1490, 1556, 1571, 1852, 1880, 1892, 1897, 1989, 2124, 2187, 2328, 2335, 2402, 2434, 2444, 2446, 2497, 2499, 2516, 2574, 2576, 2585, 2594, 2625, 2658, 2661, 2685, 2741, 2827, 2877, 2911, 2935, 2948, 2996, 3042, 3056, 3113, 3137, 3161, 3162, 3186, 3210, 3220, 3225, 3266, 3304, 3381, 3382, 3442, 3606, 3657, 3672, 3689, 3695, 3741, ...], ('Office Supplies', 'Fasteners'): [53, 113, 132, 136, 209, 219, 267, 289, 297, 322, 339, 342, 525, 553, 563, 571, 646, 664, 826, 859, 992, 1059, 1062, 1065, 1108, 1142, 1147, 1208, 1240, 1243, 1384, 1464, 1485, 1528, 1532, 1542, 1587, 1591, 1642, 1647, 1654, 1665, 1703, 1799, 1821, 1886, 1973, 1994, 2059, 2088, 2110, 2134, 2144, 2155, 2226, 2244, 2259, 2372, 2375, 2379, 2387, 2410, 2426, 2532, 2701, 2720, 2786, 2806, 2874, 2909, 2918, 2923, 2959, 3019, 3095, 3195, 3223, 3250, 3270, 3274, 3345, 3386, 3415, 3451, 3535, 3565, 3649, 3677, 3716, 3744, 3769, 3773, 3789, 3835, 3896, 3898, 3977, 4065, 4077, 4133, ...], ('Office Supplies', 'Labels'): [2, 50, 87, 158, 175, 212, 279, 290, 312, 329, 360, 361, 410, 445, 484, 556, 564, 570, 587, 611, 634, 642, 686, 695, 697, 731, 739, 761, 793, 798, 823, 845, 865, 867, 897, 900, 963, 964, 968, 973, 984, 1032, 1088, 1116, 1134, 1176, 1281, 1294, 1311, 1312, 1344, 1372, 1410, 1429, 1458, 1472, 1476, 1489, 1552, 1560, 1615, 1616, 1621, 1673, 1698, 1706, 1729, 1740, 1764, 1766, 1776, 1815, 1817, 1837, 1842, 1884, 1914, 1916, 1941, 1952, 1992, 1997, 2017, 2037, 2083, 2084, 2085, 2089, 2123, 2180, 2313, 2397, 2430, 2450, 2456, 2465, 2475, 2503, 2518, 2519, ...], ('Office Supplies', 'Paper'): [12, 34, 56, 58, 64, 69, 71, 91, 92, 99, 102, 115, 131, 133, 134, 143, 153, 154, 160, 171, 172, 188, 191, 199, 200, 220, 236, 237, 246, 248, 250, 274, 276, 277, 283, 285, 298, 300, 315, 347, 350, 352, 357, 358, 370, 376, 381, 396, 402, 407, 409, 411, 414, 418, 437, 438, 443, 470, 475, 476, 504, 517, 547, 558, 566, 568, 575, 576, 589, 591, 606, 612, 629, 644, 651, 652, 666, 671, 674, 687, 693, 704, 710, 720, 727, 743, 744, 759, 760, 778, 779, 780, 794, 796, 797, 803, 815, 816, 817, 821, ...], ('Office Supplies', 'Storage'): [4, 16, 17, 42, 43, 46, 55, 74, 77, 82, 84, 88, 121, 127, 145, 155, 166, 180, 187, 197, 206, 210, 217, 227, 245, 252, 255, 256, 259, 268, 270, 278, 299, 321, 327, 344, 365, 368, 371, 379, 395, 398, 400, 423, 432, 433, 441, 442, 448, 454, 471, 474, 480, 491, 508, 516, 518, 520, 528, 535, 542, 548, 554, 578, 602, 624, 630, 641, 659, 660, 663, 681, 682, 691, 722, 729, 732, 740, 747, 756, 767, 789, 854, 857, 881, 886, 894, 904, 911, 919, 920, 944, 955, 969, 997, 1004, 1012, 1019, 1078, 1084, ...], ('Office Supplies', 'Supplies'): [138, 178, 288, 367, 397, 465, 529, 550, 577, 580, 598, 601, 665, 724, 742, 745, 827, 844, 856, 860, 1068, 1175, 1292, 1316, 1404, 1432, 1477, 1598, 1763, 1769, 1803, 1967, 2018, 2093, 2112, 2140, 2237, 2377, 2479, 2505, 2600, 2705, 2739, 2866, 2867, 2881, 3093, 3101, 3117, 3226, 3280, 3292, 3418, 3531, 3547, 3588, 3591, 3647, 3660, 3667, 3717, 3750, 3759, 3803, 3843, 3844, 3943, 3946, 3990, 3992, 4064, 4090, 4420, 4458, 4488, 4590, 4597, 4622, 4649, 4704, 4742, 4747, 4762, 4770, 4777, 4782, 4901, 4979, 5001, 5019, 5020, 5030, 5142, 5198, 5241, 5312, 5332, 5448, 5452, 5492, ...], ('Technology', 'Accessories'): [26, 44, 47, 59, 62, 86, 100, 103, 106, 109, 161, 181, 184, 186, 211, 216, 235, 251, 258, 265, 271, 284, 291, 320, 324, 349, 373, 375, 383, 385, 390, 401, 405, 421, 430, 431, 435, 455, 460, 481, 483, 489, 493, 511, 519, 524, 540, 543, 593, 631, 633, 643, 650, 653, 675, 677, 685, 692, 706, 707, 714, 733, 738, 757, 765, 782, 784, 808, 812, 814, 822, 824, 825, 849, 862, 876, 877, 889, 910, 914, 921, 926, 937, 1001, 1014, 1041, 1049, 1075, 1100, 1115, 1118, 1166, 1179, 1197, 1216, 1218, 1223, 1259, 1276, 1278, ...], ('Technology', 'Copiers'): [335, 392, 406, 515, 595, 753, 1150, 1233, 1549, 1644, 1986, 2273, 2386, 2623, 2897, 2899, 3055, 3273, 3691, 3704, 3749, 3824, 3983, 4072, 4190, 4200, 4286, 4491, 4572, 4619, 4639, 4812, 5068, 5562, 5568, 5710, 5756, 5772, 5850, 6062, 6200, 6425, 6527, 6649, 6826, 6901, 7036, 7042, 7173, 7460, 7472, 7520, 7666, 7697, 8123, 8153, 8178, 8253, 8493, 8539, 8552, 8570, 8799, 8820, 8990, 9617], ('Technology', 'Machines'): [165, 215, 223, 262, 263, 318, 386, 427, 436, 683, 835, 977, 986, 1022, 1085, 1144, 1340, 1364, 1454, 1507, 1681, 1833, 1912, 2182, 2356, 2418, 2602, 2628, 2682, 2696, 2697, 2709, 2838, 2999, 3011, 3112, 3151, 3295, 3298, 3424, 3510, 3532, 3569, 3678, 3690, 4003, 4029, 4039, 4093, 4128, 4134, 4218, 4221, 4277, 4312, 4644, 4750, 4823, 5006, 5118, 5126, 5268, 5380, 5565, 5741, 5758, 5780, 6010, 6041, 6069, 6323, 6340, 6363, 6484, 6574, 6608, 6626, 6675, 6764, 6800, 6810, 6814, 6951, 7206, 7237, 7281, 7288, 7292, 7328, 7422, 7600, 7641, 7646, 7772, 7914, 8100, 8102, 8204, 8282, 8477, ...], ('Technology', 'Phones'): [7, 11, 19, 35, 40, 41, 48, 54, 68, 90, 107, 123, 130, 147, 148, 152, 159, 170, 182, 183, 190, 205, 207, 214, 218, 240, 257, 264, 281, 314, 319, 326, 331, 343, 345, 391, 452, 473, 477, 486, 487, 488, 523, 533, 541, 544, 565, 573, 581, 582, 585, 588, 596, 599, 600, 609, 610, 613, 614, 619, 632, 649, 667, 690, 713, 726, 748, 762, 771, 792, 801, 806, 831, 832, 838, 846, 864, 870, 893, 902, 907, 909, 922, 956, 971, 974, 982, 995, 1009, 1018, 1027, 1029, 1046, 1048, 1064, 1087, 1090, 1092, 1110, 1121, ...]}

In [31]:
# getting the unique groups by keys

grouped_df.groups.keys()

dict_keys([('Furniture', 'Bookcases'), ('Furniture', 'Chairs'), ('Furniture', 'Furnishings'), ('Furniture', 'Tables'), ('Office Supplies', 'Appliances'), ('Office Supplies', 'Art'), ('Office Supplies', 'Binders'), ('Office Supplies', 'Envelopes'), ('Office Supplies', 'Fasteners'), ('Office Supplies', 'Labels'), ('Office Supplies', 'Paper'), ('Office Supplies', 'Storage'), ('Office Supplies', 'Supplies'), ('Technology', 'Accessories'), ('Technology', 'Copiers'), ('Technology', 'Machines'), ('Technology', 'Phones')])

In [32]:
# filter data from groups based on keys

grouped_df.get_group(('Technology', 'Accessories'))

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
26,27,CA-2017-121755,16/01/2017,20/01/2017,Second Class,EH-13945,Eric Hoffmann,Consumer,United States,Los Angeles,California,90049.0,West,TEC-AC-10003027,Technology,Accessories,Imation 8GB Mini TravelDrive USB 2.0 Flash Drive,90.570
44,45,CA-2017-118255,11/03/2017,13/03/2017,First Class,ON-18715,Odella Nelson,Corporate,United States,Eagan,Minnesota,55122.0,Central,TEC-AC-10000171,Technology,Accessories,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,45.980
47,48,CA-2017-169194,20/06/2017,25/06/2017,Standard Class,LH-16900,Lena Hernandez,Consumer,United States,Dover,Delaware,19901.0,East,TEC-AC-10002167,Technology,Accessories,Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive,45.000
59,60,CA-2017-111682,17/06/2017,18/06/2017,First Class,TB-21055,Ted Butterfield,Consumer,United States,Troy,New York,12180.0,East,TEC-AC-10002167,Technology,Accessories,Imation 8gb Micro Traveldrive Usb 2.0 Flash Drive,30.000
62,63,CA-2016-135545,24/11/2016,30/11/2016,Standard Class,KM-16720,Kunst Miller,Consumer,United States,Los Angeles,California,90004.0,West,TEC-AC-10004633,Technology,Accessories,Verbatim 25 GB 6x Blu-ray Single Layer Recorda...,13.980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9749,9750,CA-2017-158358,04/03/2017,08/03/2017,Standard Class,EM-13810,Eleni McCrary,Corporate,United States,Dover,New Hampshire,3820.0,East,TEC-AC-10002567,Technology,Accessories,Logitech G602 Wireless Gaming Mouse,159.980
9761,9762,CA-2015-121762,14/02/2015,18/02/2015,Standard Class,ML-17395,Marina Lichtenstein,Corporate,United States,Seattle,Washington,98103.0,West,TEC-AC-10000736,Technology,Accessories,Logitech G600 MMO Gaming Mouse,239.970
9777,9778,CA-2015-169019,26/07/2015,30/07/2015,Standard Class,LF-17185,Luke Foster,Consumer,United States,San Antonio,Texas,78207.0,Central,TEC-AC-10002076,Technology,Accessories,Microsoft Natural Keyboard Elite,431.136
9789,9790,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,TEC-AC-10004901,Technology,Accessories,Kensington SlimBlade Notebook Wireless Mouse w...,39.992
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.384

In [33]:
# returning the first row for each group

grouped_df.first()

                              row_id        order_id  order_date   ship_date  \
category        sub_category
Furniture       Bookcases          1  CA-2017-152156  08/11/2017  11/11/2017
                Chairs             2  CA-2017-152156  08/11/2017  11/11/2017
                Furnishings        6  CA-2015-115812  09/06/2015  14/06/2015
                Tables             4  US-2016-108966  11/10/2016  18/10/2016
Office Supplies Appliances        10  CA-2015-115812  09/06/2015  14/06/2015
                Art                7  CA-2015-115812  09/06/2015  14/06/2015
                Binders            9  CA-2015-115812  09/06/2015  14/06/2015
                Envelopes         31  US-2016-150630  17/09/2016  21/09/2016
                Fasteners         54  CA-2017-105816  11/12/2017  17/12/2017
                Labels             3  CA-2017-138688  12/06/2017  16/06/2017
                Paper             13  CA-2018-114412  15/04/2018  20/04/2018
                Storage            5  US-2016-108966  11/10/2016  18/10/2016
                Supplies         139  CA-2017-145583  13/10/2017  19/10/2017
Technology      Accessories       27  CA-2017-121755  16/01/2017  20/01/2017
                Copiers          336  CA-2016-137946  01/09/2016  04/09/2016
                Machines         166  CA-2015-139892  08/09/2015  12/09/2015
                Phones             8  CA-2015-115812  09/06/2015  14/06/2015

                                   ship_mode customer_id    customer_name  \
category        sub_category
Furniture       Bookcases       Second Class    CG-12520      Claire Gute
                Chairs          Second Class    CG-12520      Claire Gute
                Furnishings   Standard Class    BH-11710  Brosina Hoffman
                Tables        Standard Class    SO-20335   Sean O'Donnell
Office Supplies Appliances    Standard Class    BH-11710  Brosina Hoffman
                Art           Standard Class    BH-11710  Brosina Hoffman
                Binders       Standard Class    BH-11710  Brosina Hoffman
                Envelopes     Standard Class    TB-21520  Tracy Blumstein
                Fasteners     Standard Class    JM-15265   Janet Molinari
                Labels          Second Class    DV-13045  Darrin Van Huff
                Paper         Standard Class    AA-10480     Andrew Allen
                Storage       Standard Class    SO-20335   Sean O'Donnell
                Supplies      Standard Class    LC-16885   Lena Creighton
Technology      Accessories     Second Class    EH-13945    Eric Hoffmann
                Copiers         Second Class    DB-13615    Doug Bickford
                Machines      Standard Class    BM-11140     Becky Martin
                Phones        Standard Class    BH-11710  Brosina Hoffman

                                segment        country             city  \
category        sub_category
Furniture       Bookcases      Consumer  United States        Henderson
                Chairs         Consumer  United States        Henderson
                Furnishings    Consumer  United States      Los Angeles
                Tables         Consumer  United States  Fort Lauderdale
Office Supplies Appliances     Consumer  United States      Los Angeles
                Art            Consumer  United States      Los Angeles
                Binders        Consumer  United States      Los Angeles
                Envelopes      Consumer  United States     Philadelphia
                Fasteners     Corporate  United States    New York City
                Labels        Corporate  United States      Los Angeles
                Paper          Consumer  United States          Concord
                Storage        Consumer  United States  Fort Lauderdale
                Supplies       Consumer  United States        Roseville
Technology      Accessories    Consumer  United States      Los Angeles
                Copiers        Consumer  United States      Los Angeles
                Machines       Consumer  United States      San Antonio
                Phones         Consumer  United States      Los Angeles

                                       state  postal_code   region  \
category        sub_category
Furniture       Bookcases           Kentucky      42420.0    South
                Chairs              Kentucky      42420.0    South
                Furnishings       California      90032.0     West
                Tables               Florida      33311.0    South
Office Supplies Appliances        California      90032.0     West
                Art               California      90032.0     West
                Binders           California      90032.0     West
                Envelopes       Pennsylvania      19140.0     East
                Fasteners           New York      10024.0     East
                Labels            California      90036.0     West
                Paper         North Carolina      28027.0    South
                Storage              Florida      33311.0    South
                Supplies          California      95661.0     West
Technology      Accessories       California      90049.0     West
                Copiers           California      90045.0     West
                Machines               Texas      78207.0  Central
                Phones            California      90032.0     West

                                   product_id  \
category        sub_category
Furniture       Bookcases     FUR-BO-10001798
                Chairs        FUR-CH-10000454
                Furnishings   FUR-FU-10001487
                Tables        FUR-TA-10000577
Office Supplies Appliances    OFF-AP-10002892
                Art           OFF-AR-10002833
                Binders       OFF-BI-10003910
                Envelopes     OFF-EN-10001509
                Fasteners     OFF-FA-10000304
                Labels        OFF-LA-10000240
                Paper         OFF-PA-10002365
                Storage       OFF-ST-10000760
                Supplies      OFF-SU-10001218
Technology      Accessories   TEC-AC-10003027
                Copiers       TEC-CO-10001449
                Machines      TEC-MA-10000822
                Phones        TEC-PH-10002275

                                                                   product_name  \
category        sub_category
Furniture       Bookcases                     Bush Somerset Collection Bookcase
                Chairs        Hon Deluxe Fabric Upholstered Stacking Chairs,...
                Furnishings   Eldon Expressions Wood and Plastic Desk Access...
                Tables            Bretford CR4500 Series Slim Rectangular Table
Office Supplies Appliances                     Belkin F5C206VTEL 6 Outlet Surge
                Art                                                  Newell 322
                Binders       DXL Angle-View Binders with Locking Rings by S...
                Envelopes                             Poly String Tie Envelopes
                Fasteners                                    Advantus Push Pins
                Labels        Self-Adhesive Address Labels for Typewriters b...
                Paper                                                Xerox 1967
                Storage                          Eldon Fold 'N Roll Cart System
                Supplies                              Fiskars Softgrip Scissors
Technology      Accessories    Imation 8GB Mini TravelDrive USB 2.0 Flash Drive
                Copiers                    Hewlett Packard LaserJet 3310 Copier
                Machines              Lexmark MX611dhe Monochrome Laser Printer
                Phones                           Mitel 5320 IP Phone VoIP phone

                                  sales
category        sub_category
Furniture       Bookcases      261.9600
                Chairs         731.9400
                Furnishings     48.8600
                Tables         957.5775
Office Supplies Appliances     114.9000
                Art              7.2800
                Binders         18.5040
                Envelopes        3.2640
                Fasteners       15.2600
                Labels          14.6200
                Paper           15.5520
                Storage         22.3680
                Supplies        65.8800
Technology      Accessories     90.5700
                Copiers        959.9840
                Machines      8159.9520
                Phones         907.1520

In [34]:
# returning the last row for each group

grouped_df.last()

                              row_id        order_id  order_date   ship_date  \
category        sub_category
Furniture       Bookcases       9788  CA-2018-144491  27/03/2018  01/04/2018
                Chairs          9793  CA-2015-127166  21/05/2015  23/05/2015
                Furnishings     9785  CA-2016-149748  31/05/2016  02/06/2016
                Tables          9757  CA-2018-113705  27/03/2018  29/03/2018
Office Supplies Appliances      9780  CA-2015-169019  26/07/2015  30/07/2015
                Art             9797  CA-2016-128608  12/01/2016  17/01/2016
                Binders         9796  CA-2017-125920  21/05/2017  28/05/2017
                Envelopes       9792  CA-2015-127166  21/05/2015  23/05/2015
                Fasteners       9702  CA-2017-105291  30/10/2017  04/11/2017
                Labels          9754  CA-2018-113705  27/03/2018  29/03/2018
                Paper           9794  CA-2015-127166  21/05/2015  23/05/2015
                Storage         9784  CA-2016-149748  31/05/2016  02/06/2016
                Supplies        9764  CA-2015-121762  14/02/2015  18/02/2015
Technology      Accessories     9800  CA-2016-128608  12/01/2016  17/01/2016
                Copiers         9618  CA-2018-160633  16/11/2018  21/11/2018
                Machines        9577  CA-2016-143147  26/05/2016  28/05/2016
                Phones          9799  CA-2016-128608  12/01/2016  17/01/2016

                                   ship_mode customer_id        customer_name  \
category        sub_category
Furniture       Bookcases     Standard Class    CJ-12010      Caroline Jumper
                Chairs          Second Class    KH-16360     Katherine Hughes
                Furnishings     Second Class    EM-13825    Elizabeth Moffitt
                Tables          Second Class    LC-16870        Lena Cacioppo
Office Supplies Appliances    Standard Class    LF-17185          Luke Foster
                Art           Standard Class    CS-12490     Cindy Schnelling
                Binders       Standard Class    SH-19975        Sally Hughsby
                Envelopes       Second Class    KH-16360     Katherine Hughes
                Fasteners     Standard Class    SP-20920         Susan Pistek
                Labels          Second Class    LC-16870        Lena Cacioppo
                Paper           Second Class    KH-16360     Katherine Hughes
                Storage         Second Class    EM-13825    Elizabeth Moffitt
                Supplies      Standard Class    ML-17395  Marina Lichtenstein
Technology      Accessories   Standard Class    CS-12490     Cindy Schnelling
                Copiers       Standard Class    BS-11380         Bill Stewart
                Machines        Second Class    PS-18760         Pamela Stobb
                Phones        Standard Class    CS-12490     Cindy Schnelling

                                segment        country             city  \
category        sub_category
Furniture       Bookcases      Consumer  United States          Houston
                Chairs         Consumer  United States          Houston
                Furnishings   Corporate  United States         Paterson
                Tables         Consumer  United States         Richmond
Office Supplies Appliances     Consumer  United States      San Antonio
                Art           Corporate  United States           Toledo
                Binders       Corporate  United States          Chicago
                Envelopes      Consumer  United States          Houston
                Fasteners      Consumer  United States  San Luis Obispo
                Labels         Consumer  United States         Richmond
                Paper          Consumer  United States          Houston
                Storage       Corporate  United States         Paterson
                Supplies      Corporate  United States          Seattle
Technology      Accessories   Corporate  United States           Toledo
                Copiers       Corporate  United States    Bowling Green
                Machines       Consumer  United States      San Antonio
                Phones        Corporate  United States           Toledo

                                   state  postal_code   region  \
category        sub_category
Furniture       Bookcases          Texas      77070.0  Central
                Chairs             Texas      77070.0  Central
                Furnishings   New Jersey       7501.0     East
                Tables          Virginia      23223.0    South
Office Supplies Appliances         Texas      78207.0  Central
                Art                 Ohio      43615.0     East
                Binders         Illinois      60610.0  Central
                Envelopes          Texas      77070.0  Central
                Fasteners     California      93405.0     West
                Labels          Virginia      23223.0    South
                Paper              Texas      77070.0  Central
                Storage       New Jersey       7501.0     East
                Supplies      Washington      98103.0     West
Technology      Accessories         Ohio      43615.0     East
                Copiers             Ohio      43402.0     East
                Machines           Texas      78207.0  Central
                Phones              Ohio      43615.0     East

                                   product_id  \
category        sub_category
Furniture       Bookcases     FUR-BO-10001811
                Chairs        FUR-CH-10003396
                Furnishings   FUR-FU-10001847
                Tables        FUR-TA-10002533
Office Supplies Appliances    OFF-AP-10003281
                Art           OFF-AR-10001374
                Binders       OFF-BI-10003429
                Envelopes     OFF-EN-10003134
                Fasteners     OFF-FA-10003059
                Labels        OFF-LA-10000476
                Paper         OFF-PA-10001560
                Storage       OFF-ST-10004340
                Supplies      OFF-SU-10000157
Technology      Accessories   TEC-AC-10000487
                Copiers       TEC-CO-10002095
                Machines      TEC-MA-10004679
                Phones        TEC-PH-10000912

                                                                   product_name  \
category        sub_category
Furniture       Bookcases     Atlantic Metals Mobile 5-Shelf Bookcases, Cust...
                Chairs                                Global Deluxe Steno Chair
                Furnishings           Eldon Image Series Black Desk Accessories
                Tables                                    BPI Conference Tables
Office Supplies Appliances     Acco 6 Outlet Guardian Standard Surge Suppressor
                Art                    BIC Brite Liner Highlighters, Chisel Tip
                Binders       Cardinal HOLDit! Binder Insert Strips,Extra St...
                Envelopes                                       Staple envelope
                Fasteners                              Assorted Color Push Pins
                Labels        Avery 05222 Permanent Self-Adhesive File Folde...
                Paper               Adams Telephone Message Books, 5 1/4” x 11”
                Storage                        Fellowes Mobile File Cart, Black
                Supplies               Compact Automatic Electric Letter Opener
Technology      Accessories                 SanDisk Cruzer 4 GB USB Flash Drive
                Copiers       Hewlett Packard 610 Color Digital Copier / Pri...
                Machines        StarTech.com 10/100 VDSL2 Ethernet Extender Kit
                Phones                 Anker 24W Portable Micro USB Car Charger

                                 sales
category        sub_category
Furniture       Bookcases     1023.332
                Chairs         107.772
                Furnishings      8.280
                Tables         292.100
Office Supplies Appliances       4.836
                Art             10.368
                Binders          3.798
                Envelopes       56.064
                Fasteners        3.620
                Labels           8.260
                Paper            4.832
                Storage         62.180
                Supplies       238.620
Technology      Accessories     10.384
                Copiers        899.982
                Machines       399.540
                Phones          26.376

In [36]:
# returning the nth row for each group

grouped_df.nth(15)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
95,96,US-2018-109484,06/11/2018,12/11/2018,Standard Class,RB-19705,Roger Barcio,Home Office,United States,Portland,Oregon,97206.0,West,OFF-BI-10004738,Office Supplies,Binders,Flexible Leather- Look Classic Collection Ring...,5.682
140,141,CA-2017-110366,05/09/2017,07/09/2017,Second Class,JD-15895,Jonathan Doherty,Corporate,United States,Philadelphia,Pennsylvania,19140.0,East,FUR-FU-10004848,Furniture,Furnishings,"Howard Miller 13-3/4"" Diameter Brushed Chrome ...",82.800
143,144,CA-2018-106180,18/09/2018,23/09/2018,Standard Class,SH-19975,Sally Hughsby,Corporate,United States,San Francisco,California,94122.0,West,OFF-PA-10004327,Office Supplies,Paper,Xerox 1911,143.700
152,153,CA-2017-158834,13/03/2017,16/03/2017,First Class,TW-21025,Tamara Willingham,Home Office,United States,Scottsdale,Arizona,85254.0,West,TEC-PH-10001254,Technology,Phones,Jabra BIZ 2300 Duo QD Duo Corded Headset,203.184
155,156,CA-2016-124919,31/05/2016,02/06/2016,First Class,SP-20650,Stephanie Phelps,Corporate,United States,San Jose,California,95123.0,West,OFF-ST-10001590,Office Supplies,Storage,Tenex Personal Project File with Scoop Front D...,80.880
168,169,CA-2015-139892,08/09/2015,12/09/2015,Standard Class,BM-11140,Becky Martin,Consumer,United States,San Antonio,Texas,78207.0,Central,OFF-AR-10002656,Office Supplies,Art,Sanford Liquid Accent Highlighters,32.064
216,217,CA-2016-146262,02/01/2016,09/01/2016,Standard Class,VW-21775,Victoria Wilson,Corporate,United States,Medina,Ohio,44256.0,East,TEC-AC-10000109,Technology,Accessories,Sony Micro Vault Click 16 GB USB 2.0 Flash Drive,89.584
228,229,US-2016-145436,28/02/2016,04/03/2016,Standard Class,VD-21670,Valerie Dominguez,Consumer,United States,Columbia,Tennessee,38401.0,South,FUR-CH-10004860,Furniture,Chairs,Global Low Back Tilter Chair,161.568
359,360,CA-2018-155698,08/03/2018,11/03/2018,First Class,VB-21745,Victoria Brennan,Corporate,United States,Columbus,Georgia,31907.0,South,OFF-AP-10001124,Office Supplies,Appliances,Belkin 8 Outlet SurgeMaster II Gold Surge Prot...,647.840
408,409,CA-2018-117457,08/12/2018,12/12/2018,Standard Class,KH-16510,Keith Herrera,Consumer,United States,San Francisco,California,94110.0,West,FUR-TA-10002041,Furniture,Tables,"Bevis Round Conference Table Top, X-Base",1004.024
495,496,CA-2016-134782,27/12/2016,31/12/2016,Standard Class,MD-17350,Maribeth Dona,Consumer,United States,Fayetteville,Arkansas,72701.0,South,OFF-EN-10001434,Office Supplies,Envelopes,"Strathmore #10 Envelopes, Ultimate White",105.420
556,557,CA-2017-113243,10/06/2017,15/06/2017,Standard Class,OT-18730,Olvera Toch,Consumer,United States,Los Angeles,California,90045.0,West,OFF-LA-10001297,Office Supplies,Labels,Avery 473,20.700
571,572,CA-2018-164826,28/12/2018,04/01/2019,Standard Class,JF-15415,Jennifer Ferguson,Consumer,United States,New York City,New York,10024.0,East,OFF-FA-10000585,Office Supplies,Fasteners,OIC Bulk Pack Metal Binder Clips,13.960
708,709,CA-2015-112158,02/12/2015,04/12/2015,First Class,DP-13165,David Philippe,Consumer,United States,New York City,New York,10035.0,East,FUR-BO-10003272,Furniture,Bookcases,O'Sullivan Living Dimensions 5-Shelf Bookcases,883.920
745,746,US-2017-146710,27/08/2017,01/09/2017,Standard Class,SS-20875,Sung Shariari,Consumer,United States,Dallas,Texas,75220.0,Central,OFF-SU-10004261,Office Supplies,Supplies,"Fiskars 8"" Scissors, 2/Pack",55.168
1144,1145,CA-2015-146969,29/09/2015,03/10/2015,Standard Class,AP-10915,Arthur Prichep,Consumer,United States,Los Angeles,California,90045.0,West,TEC-MA-10004241,Technology,Machines,Star Micronics TSP800 TSP847IIU Receipt Printer,686.320
2899,2900,CA-2016-166464,12/09/2016,17/09/2016,Standard Class,PG-18895,Paul Gonzalez,Consumer,United States,New York City,New York,10035.0,East,TEC-CO-10000971,Technology,Copiers,Hewlett Packard 310 Color Digital Copier,479.984

### Split-apply-combine operation

The groupby method is used to support this kind of operation.

**1. Split:**
The data is split into groups.

**2. Apply:** A function to be applied to each group independently. Here, you would usually do of the following:

- Aggregation: computes a summary statistic for each group. E.g, group sums or means
    
- Filtration: discard some groups, according to a group-wise computation that evaluates to True or False.
    
- Transformation: perform some group-specific computations and returns a like-indexed object. E.g:
  - Standardize data (z-score) within a group
  - Filling NAs within groups within groups with a value derived from each group

**3. Combine:** Combines the results into a data sctructure

### Aggregation

There are several built-in aggregation methods that can be used along with group by.

`any()`: Compute whether any of the values in the groups are truthy


`all()`: Compute whether all the values in the groups are truthy


`idx.max()`: Compute the index of the maximum value in each group


`idx.min()`: Compute the index of the minimum value in each group

Etc.....

In [40]:
# group the dataset in the dataframe by category

grouped_df = df.groupby('category')

In [41]:
# count the number of products sold under each category

grouped_df['category'].count()

category
Furniture          2078
Office Supplies    5909
Technology         1813
Name: category, dtype: int64

In [42]:
# what is the average sale of each grouped product category

grouped_df['sales'].mean()

category
Furniture          350.653790
Office Supplies    119.381001
Technology         456.401474
Name: sales, dtype: float64

In [45]:
# # group the dataset in the dataframe by category first, and then sub_category

grouped_df = df.groupby(['category', 'sub_category'])

In [46]:
# count the number of each sub_categories under each product category

grouped_df['sub_category'].count()

category         sub_category
Furniture        Bookcases        226
                 Chairs           607
                 Furnishings      931
                 Tables           314
Office Supplies  Appliances       459
                 Art              785
                 Binders         1492
                 Envelopes        248
                 Fasteners        214
                 Labels           357
                 Paper           1338
                 Storage          832
                 Supplies         184
Technology       Accessories      756
                 Copiers           66
                 Machines         115
                 Phones           876
Name: sub_category, dtype: int64

In [48]:
# calculate the average sales of each product category sub_categories

grouped_df['sales'].mean()

category         sub_category
Furniture        Bookcases        503.598224
                 Chairs           531.833165
                 Furnishings       95.823865
                 Tables           645.893720
Office Supplies  Appliances       227.926804
                 Art               34.019631
                 Binders          134.067550
                 Envelopes         65.032444
                 Fasteners         14.027850
                 Labels            34.587468
                 Paper             57.420257
                 Storage          263.633885
                 Supplies         252.284283
Technology       Accessories      217.178175
                 Copiers         2215.880212
                 Machines        1645.553313
                 Phones           374.180877
Name: sales, dtype: float64

In [49]:
# find the maximum sales by index

grouped_df['sales'].idxmax()

category         sub_category
Furniture        Bookcases       9741
                 Chairs          7243
                 Furnishings     7387
                 Tables          9639
Office Supplies  Appliances      7579
                 Art               67
                 Binders         9039
                 Envelopes       2516
                 Fasteners       8006
                 Labels          1621
                 Paper           3262
                 Storage         3070
                 Supplies        2505
Technology       Accessories      251
                 Copiers         6826
                 Machines        2697
                 Phones          2492
Name: sales, dtype: int64

In [50]:
# find the minimum sales by index

grouped_df['sales'].idxmin()

category         sub_category
Furniture        Bookcases        783
                 Chairs          3828
                 Furnishings     8183
                 Tables          3059
Office Supplies  Appliances      4101
                 Art             3766
                 Binders         9292
                 Envelopes       5342
                 Fasteners       5206
                 Labels          6085
                 Paper           5335
                 Storage         5292
                 Supplies        1068
Technology       Accessories     2761
                 Copiers         8253
                 Machines        8668
                 Phones          1330
Name: sales, dtype: int64

In [51]:
# locating a customer by index position

df.loc[7500]

row_id                                                      7501
order_id                                          CA-2018-121048
order_date                                            14/07/2018
ship_date                                             18/07/2018
ship_mode                                         Standard Class
customer_id                                             TC-21295
customer_name                                      Toby Carlisle
segment                                                 Consumer
country                                            United States
city                                                 Westminster
state                                                 California
postal_code                                              92683.0
region                                                      West
product_id                                       TEC-AC-10000991
category                                              Technology
sub_category                                         Accessories
product_name     Sony Micro Vault Click 8 GB USB 2.0 Flash Drive
sales                                                     140.97
Name: 7500, dtype: object

In [52]:
df.loc[3245]

row_id                                                      3246
order_id                                          US-2018-140907
order_date                                            10/12/2018
ship_date                                             12/12/2018
ship_mode                                           Second Class
customer_id                                             BP-11185
customer_name                                       Ben Peterman
segment                                                Corporate
country                                            United States
city                                                     Seattle
state                                                 Washington
postal_code                                              98103.0
region                                                      West
product_id                                       TEC-AC-10004510
category                                              Technology
sub_category                                         Accessories
product_name     Logitech Desktop MK120 Mouse and keyboard Combo
sales                                                      49.08
Name: 3245, dtype: object

# Aggregation with user-defined functions

In [53]:
grouped_df['sales'].agg(['min', 'max', 'mean'])

                                  min        max         mean
category        sub_category
Furniture       Bookcases      35.490   4404.900   503.598224
                Chairs         26.640   4416.174   531.833165
                Furnishings     1.892   1336.440    95.823865
                Tables         24.368   4297.644   645.893720
Office Supplies Appliances      0.444   2625.120   227.926804
                Art             1.344   1113.024    34.019631
                Binders         0.556   9892.740   134.067550
                Envelopes       1.632    604.656    65.032444
                Fasteners       1.240     93.360    14.027850
                Labels          2.088    786.480    34.587468
                Paper           3.380    733.950    57.420257
                Storage         4.464   2934.330   263.633885
                Supplies        1.744   8187.650   252.284283
Technology      Accessories     0.990   3347.370   217.178175
                Copiers       299.990  17499.950  2215.880212
                Machines       11.560  22638.480  1645.553313
                Phones          2.970   4548.810   374.180877

In [54]:
grouped_df['sales'].agg(lambda x: min(x))

category         sub_category
Furniture        Bookcases        35.490
                 Chairs           26.640
                 Furnishings       1.892
                 Tables           24.368
Office Supplies  Appliances        0.444
                 Art               1.344
                 Binders           0.556
                 Envelopes         1.632
                 Fasteners         1.240
                 Labels            2.088
                 Paper             3.380
                 Storage           4.464
                 Supplies          1.744
Technology       Accessories       0.990
                 Copiers         299.990
                 Machines         11.560
                 Phones            2.970
Name: sales, dtype: float64

### Applying different aggregations functions to the df columns

In [55]:
grouped_df.agg({'order_date': ['min', 'max'], 'sales': ['mean', 'std']})

                              order_date                    sales
                                     min         max         mean          std
category        sub_category
Furniture       Bookcases     01/03/2016  31/12/2015   503.598224   641.419280
                Chairs        01/01/2018  31/12/2015   531.833165   551.180296
                Furnishings   01/01/2018  31/12/2016    95.823865   148.421490
                Tables        01/03/2015  31/10/2015   645.893720   598.584981
Office Supplies Appliances    01/01/2018  31/08/2018   227.926804   378.006735
                Art           01/01/2018  31/12/2017    34.019631    60.301752
                Binders       01/01/2018  31/12/2017   134.067550   568.099970
                Envelopes     01/04/2018  31/12/2015    65.032444    85.170691
                Fasteners     01/03/2015  31/12/2016    14.027850    12.466864
                Labels        01/04/2015  31/12/2015    34.587468    74.802711
                Paper         01/02/2017  31/12/2017    57.420257    78.492285
                Storage       01/01/2018  31/12/2017   263.633885   354.907482
                Supplies      01/04/2017  31/12/2016   252.284283   938.087746
Technology      Accessories   01/02/2015  31/12/2015   217.178175   337.723800
                Copiers       01/07/2017  31/03/2018  2215.880212  3216.185499
                Machines      01/03/2017  31/08/2016  1645.553313  2765.102088
                Phones        01/03/2015  31/12/2017   374.180877   494.390228

### Filteration

This returns a filtered version of the calling object, including the grouping columns when provided.

#### Filteration with built-in filteration

This includes: `head(), tail(), nth()`.

#### Filteration with user-defined function
The `filter()` method takes a user defined function that when applied to an entire group returns either True or False. The result of the filter method is then used to subset the groupings created earlier.

In [56]:
grouped_df = df.groupby('category')

In [57]:
grouped_df['sales'].mean()

category
Furniture          350.653790
Office Supplies    119.381001
Technology         456.401474
Name: sales, dtype: float64

In [58]:
grouped_df.filter(lambda group: group['sales'].mean()>200)

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
5,6,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600
7,8,CA-2015-115812,09/06/2015,14/06/2015,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032.0,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9790,9791,CA-2018-144491,27/03/2018,01/04/2018,Standard Class,CJ-12010,Caroline Jumper,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10001714,Furniture,Chairs,"Global Leather & Oak Executive Chair, Burgundy",211.2460
9792,9793,CA-2015-127166,21/05/2015,23/05/2015,Second Class,KH-16360,Katherine Hughes,Consumer,United States,Houston,Texas,77070.0,Central,FUR-CH-10003396,Furniture,Chairs,Global Deluxe Steno Chair,107.7720
9797,9798,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10004977,Technology,Phones,GE 30524EE4,235.1880
9798,9799,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-PH-10000912,Technology,Phones,Anker 24W Portable Micro USB Car Charger,26.3760
9799,9800,CA-2016-128608,12/01/2016,17/01/2016,Standard Class,CS-12490,Cindy Schnelling,Corporate,United States,Toledo,Ohio,43615.0,East,TEC-AC-10000487,Technology,Accessories,SanDisk Cruzer 4 GB USB Flash Drive,10.3840

### Transformation

Here, the groupings that are used to split the original object are not included in the result like in aggregations.

In [59]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [63]:
grouped_df = df.groupby('category')

In [64]:
grouped_df.cumsum()

#this returns the cumulative sum for each numerical column in the data

NotImplementedError: function is not implemented for this dtype: [how->cumsum,dtype->object]

The NotImplementedError indicates that the cumulative sum (cumsum) operation is not implemented for one or more columns in your grouped DataFrame because they have a data type (dtype) that is incompatible with the operation, such as object (e.g., strings or mixed types).

In [69]:
# Select numeric columns and calculate cumulative sum

numeric_columns = df.select_dtypes(include=['number'])
grouped_cumsum = numeric_columns.groupby(df['category']).cumsum()

grouped_cumsum

        row_id  postal_code        sales
0            1      42420.0     261.9600
1            3      84840.0     993.9000
2            3      90036.0      14.6200
3            7     118151.0    1951.4775
4            8     123347.0      36.9880
...        ...          ...          ...
9795  28842865  324811420.0  705411.9660
9796  28852662  324855035.0  705422.3340
9797   8884651  100590645.0  827419.1130
9798   8894450  100634260.0  827445.4890
9799   8904250  100677875.0  827455.8730

[9800 rows x 3 columns]

Other examples of built-in transformation objects include:

- `bfill()` - backfill NA values within each group

- `cumcount(), cummax(), cummin(), cumprod(), cumsum()`

- `diff()` - compute the difference between adjacent values within each group

- `ffill()` - forward fill NA values within each group

- `fillna()` - Fill NA values within each group

- `pct_change()` - computes the % change between adjacent values within each group

- `rank()` -compute the rank of each value within each group

- `shift()` - shifts values up or down within each group

### Answering some questions using the online stores sales data

In [70]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   object
 2   order_date     9800 non-null   object
 3   ship_date      9800 non-null   object
 4   ship_mode      9800 non-null   object
 5   customer_id    9800 non-null   object
 6   customer_name  9800 non-null   object
 7   segment        9800 non-null   object
 8   country        9800 non-null   object
 9   city           9800 non-null   object
 10  state          9800 non-null   object
 11  postal_code    9789 non-null   float64
 12  region         9800 non-null   object
 13  product_id     9800 non-null   object
 14  category       9800 non-null   object
 15  sub_category   9800 non-null   object
 16  product_name   9800 non-null   object
 17  sales          9800 non-null   float64
dtypes: float64(2), int64(1), object(15)
memory usage: 1.3+ MB

In [72]:
df.columns

Index(['row_id', 'order_id', 'order_date', 'ship_date', 'ship_mode',
       'customer_id', 'customer_name', 'segment', 'country', 'city', 'state',
       'postal_code', 'region', 'product_id', 'category', 'sub_category',
       'product_name', 'sales'],
      dtype='object')

In [73]:
df.dtypes

row_id             int64
order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_id       object
customer_name     object
segment           object
country           object
city              object
state             object
postal_code      float64
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales            float64
dtype: object

In [75]:
df.describe()

            row_id   postal_code         sales
count  9800.000000   9789.000000   9800.000000
mean   4900.500000  55273.322403    230.769059
std    2829.160653  32041.223413    626.651875
min       1.000000   1040.000000      0.444000
25%    2450.750000  23223.000000     17.248000
50%    4900.500000  58103.000000     54.490000
75%    7350.250000  90008.000000    210.605000
max    9800.000000  99301.000000  22638.480000

### What are the different customer segments?

In [77]:
grouped_cust_seg = df.groupby('segment')

In [79]:
grouped_cust_seg.groups

{'Consumer': [0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 16, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 46, 47, 48, 49, 50, 51, 52, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 69, 70, 71, 72, 73, 74, 78, 81, 82, 85, 86, 87, 92, 93, 94, 97, 102, 103, 104, 105, 106, 107, 108, 111, 112, 113, 114, 115, 116, 117, 119, 120, 121, 122, 123, 125, 126, 127, 133, 134, 135, 136, 137, 138, 139, 144, 145, 157, 158, 159, 160, 161, 162, ...], 'Corporate': [2, 21, 22, 35, 36, 41, 42, 43, 44, 45, 53, 54, 67, 68, 75, 76, 77, 79, 80, 83, 89, 90, 91, 98, 110, 118, 130, 131, 132, 140, 141, 142, 143, 147, 148, 149, 150, 153, 154, 155, 174, 175, 180, 181, 187, 188, 194, 198, 199, 204, 211, 212, 213, 214, 215, 216, 225, 226, 227, 230, 236, 254, 255, 256, 257, 261, 262, 263, 266, 268, 269, 270, 274, 275, 276, 277, 278, 279, 286, 287, 288, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 304, 305, 309, 310, 311, 312, 313, 314, 315, ...], 'Home Office': [14, 15, 34, 37, 38, 39, 40, 66, 84, 88, 95, 96, 99, 100, 101, 109, 124, 128, 129, 146, 151, 152, 156, 179, 182, 183, 184, 186, 189, 190, 191, 192, 193, 197, 231, 232, 233, 234, 235, 244, 245, 246, 247, 248, 289, 290, 291, 292, 306, 307, 317, 318, 319, 320, 321, 349, 350, 351, 352, 353, 394, 397, 427, 429, 430, 431, 432, 436, 437, 462, 463, 464, 465, 466, 467, 484, 485, 486, 488, 489, 490, 515, 516, 517, 518, 526, 527, 537, 546, 547, 626, 638, 639, 644, 645, 651, 657, 658, 669, 670, ...]}

In [81]:
grouped_cust_seg.groups.keys()

dict_keys(['Consumer', 'Corporate', 'Home Office'])

In [82]:
# the different customer segments are:

print('Customer Segments include: \n', df['segment'].unique())

Customer Segments include:
 ['Consumer' 'Corporate' 'Home Office']

### How many sales records do we have in the dataset?

In [85]:
print('We have', df['sales'].count(), 'sales records in the dataframe')

We have 9800 sales records in the dataframe

In [86]:
# OR

In [87]:
print('We have', df.shape[0], 'sales records in the dataframe')

We have 9800 sales records in the dataframe

### What are the different product categories?

In [89]:
# the different product categories are:

grouped_df = df.groupby('category')
grouped_df

In [90]:
grouped_df.groups.keys()

dict_keys(['Furniture', 'Office Supplies', 'Technology'])

In [91]:
# OR

In [92]:
print('Product categories: ', df['category'].unique())

Product categories:  ['Furniture' 'Office Supplies' 'Technology']

### How many days on average does it take for the products to be shipped?

In [93]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales
0,1,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600
1,2,CA-2017-152156,08/11/2017,11/11/2017,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400
2,3,CA-2017-138688,12/06/2017,16/06/2017,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200
3,4,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775
4,5,US-2016-108966,11/10/2016,18/10/2016,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680

In [117]:
# convert ship_date and order_date to datetime datatype

df['ship_date'] = df['ship_date'].apply(pd.to_datetime)

In [119]:
df['order_date'] = df['order_date'].apply(pd.to_datetime)

In [120]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,ship_time,day_names
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,92,Friday
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,92,Friday
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,-173,Wednesday
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,-23,Thursday
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,-23,Thursday

In [109]:
df.dtypes

row_id                    int64
order_id                 object
order_date       datetime64[ns]
ship_date        datetime64[ns]
ship_mode                object
customer_id              object
customer_name            object
segment                  object
country                  object
city                     object
state                    object
postal_code             float64
region                   object
product_id               object
category                 object
sub_category             object
product_name             object
sales                   float64
dtype: object

In [112]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   object
 2   order_date     9800 non-null   datetime64[ns]
 3   ship_date      9800 non-null   datetime64[ns]
 4   ship_mode      9800 non-null   object
 5   customer_id    9800 non-null   object
 6   customer_name  9800 non-null   object
 7   segment        9800 non-null   object
 8   country        9800 non-null   object
 9   city           9800 non-null   object
 10  state          9800 non-null   object
 11  postal_code    9789 non-null   float64
 12  region         9800 non-null   object
 13  product_id     9800 non-null   object
 14  category       9800 non-null   object
 15  sub_category   9800 non-null   object
 16  product_name   9800 non-null   object
 17  sales          9800 non-null   float64
 18  ship_time      9800 non-null   int64
dtypes: datetime64[ns](2), float64(2), int64(2), object(13)
memory usage: 1.4+ MB

In [113]:
# Calculating the average number of days it takes for products to be shipped

df['ship_time'] = (df['ship_date'] - df['order_date']).dt.days
avg_num_days = df['ship_time'].mean()

print('Average number of days for shipment is: ', round(avg_num_days))

Average number of days for shipment is:  9

### Are there more orders placed on Weekends?

In [114]:
dw_mapping = { 0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 4: 'Friday', 5: 'Saturday', 6: 'Sunday' }

df['day_names'] = df['order_date'].dt.weekday.map(dw_mapping)

new_df = df.groupby('day_names').agg({'order_date': 'count'})

new_df['order_date'].sort_values(ascending = False)

day_names
Tuesday      1745
Monday       1574
Saturday     1574
Sunday       1543
Wednesday    1345
Friday       1119
Thursday      900
Name: order_date, dtype: int64

Collectively, Tuesday had more orders than weekends. Also, more orders came in on Saturday and Sunday than they did on Friday.

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9800 entries, 0 to 9799
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9800 non-null   int64
 1   order_id       9800 non-null   object
 2   order_date     9800 non-null   datetime64[ns]
 3   ship_date      9800 non-null   datetime64[ns]
 4   ship_mode      9800 non-null   object
 5   customer_id    9800 non-null   object
 6   customer_name  9800 non-null   object
 7   segment        9800 non-null   object
 8   country        9800 non-null   object
 9   city           9800 non-null   object
 10  state          9800 non-null   object
 11  postal_code    9789 non-null   float64
 12  region         9800 non-null   object
 13  product_id     9800 non-null   object
 14  category       9800 non-null   object
 15  sub_category   9800 non-null   object
 16  product_name   9800 non-null   object
 17  sales          9800 non-null   float64
 18  ship_time      9800 non-null   int64
 19  day_names      9800 non-null   object
dtypes: datetime64[ns](2), float64(2), int64(2), object(14)
memory usage: 1.5+ MB

In [116]:
df.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,state,postal_code,region,product_id,category,sub_category,product_name,sales,ship_time,day_names
0,1,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,92,Friday
1,2,CA-2017-152156,2017-08-11,2017-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420.0,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,92,Friday
2,3,CA-2017-138688,2017-12-06,2017-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036.0,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,-173,Wednesday
3,4,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,-23,Thursday
4,5,US-2016-108966,2016-11-10,2016-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311.0,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,-23,Thursday

### What is the minimum order amount and maximum order amount?

In [131]:
#group by the order_ids
grouped_df = df.groupby('order_id')
grouped_df

In [124]:
order_df = grouped_df['sales'].sum()
order_df

order_id
CA-2015-100006     377.970
CA-2015-100090     699.192
CA-2015-100293      91.056
CA-2015-100328       3.928
CA-2015-100363      21.376
                    ...
US-2018-168802      18.368
US-2018-169320     171.430
US-2018-169488      56.860
US-2018-169502     113.410
US-2018-169551    1344.838
Name: sales, Length: 4922, dtype: float64

In [125]:
order_df = order_df.reset_index()
order_df

            order_id     sales
0     CA-2015-100006   377.970
1     CA-2015-100090   699.192
2     CA-2015-100293    91.056
3     CA-2015-100328     3.928
4     CA-2015-100363    21.376
...              ...       ...
4917  US-2018-168802    18.368
4918  US-2018-169320   171.430
4919  US-2018-169488    56.860
4920  US-2018-169502   113.410
4921  US-2018-169551  1344.838

[4922 rows x 2 columns]

In [126]:
order_df.head()

         order_id    sales
0  CA-2015-100006  377.970
1  CA-2015-100090  699.192
2  CA-2015-100293   91.056
3  CA-2015-100328    3.928
4  CA-2015-100363   21.376

In [127]:
print('Minimum Order Amount: ', order_df['sales'].min())
print('Maximum Order Amount: ', order_df['sales'].max())

Minimum Order Amount:  0.556
Maximum Order Amount:  23661.228

### What is the revenue generated in the year 2017?

In [136]:
df['order_year'] = df['order_date'].dt.year

In [135]:
df['order_year'] == 2017

0        True
1        True
2        True
3       False
4       False
        ...
9795     True
9796    False
9797    False
9798    False
9799    False
Name: order_year, Length: 9800, dtype: bool

In [137]:
df.loc[df['order_year'] == 2017, 'sales'].sum()

np.float64(600192.55)

### Which customer contributed to the maximum revenue in 2017 and how much?

In [141]:
grouped_df = df.groupby(['order_year', 'customer_id'])

sales_sum_per_year = grouped_df['sales'].sum()
sales_sum_per_year

order_year  customer_id
2015        AA-10315        756.048
            AA-10375         50.792
            AA-10480         27.460
            AA-10645       1434.330
            AB-10015        322.216
                             ...
2018        XP-21865        449.312
            YC-21895        750.680
            YS-21880       5340.264
            ZC-21910        227.066
            ZD-21925         61.440
Name: sales, Length: 2481, dtype: float64

In [142]:
cust_id = sales_sum_per_year.loc[2017].idxmax()
cust_id

'TC-20980'

In [146]:
rev_contributed = sales_sum_per_year.loc[(2017, cust_id)]

print('Customer', cust_id, 'contributed a max revenue of', round(rev_contributed,2))

Customer TC-20980 contributed a max revenue of 18344.05

### Who is the customer with the customer id TC-20980?

In [148]:
df.customer_id == 'TC-20980'

0       False
1       False
2       False
3       False
4       False
        ...
9795    False
9796    False
9797    False
9798    False
9799    False
Name: customer_id, Length: 9800, dtype: bool

In [147]:
df.loc[(df.customer_id == 'TC-20980'), ['order_date', 'customer_name', 'city', 'state', 'postal_code']]

     order_date customer_name        city       state  postal_code
2072 2017-11-26  Tamara Chand     Seattle  Washington      98105.0
3185 2015-07-11  Tamara Chand     Houston       Texas      77041.0
3186 2015-07-11  Tamara Chand     Houston       Texas      77041.0
6825 2017-02-10  Tamara Chand   Lafayette     Indiana      47905.0
6826 2017-02-10  Tamara Chand   Lafayette     Indiana      47905.0
6827 2017-02-10  Tamara Chand   Lafayette     Indiana      47905.0
6828 2017-02-10  Tamara Chand   Lafayette     Indiana      47905.0
6829 2017-02-10  Tamara Chand   Lafayette     Indiana      47905.0
8060 2016-09-20  Tamara Chand  Long Beach    New York      11561.0
8061 2016-09-20  Tamara Chand  Long Beach    New York      11561.0
8337 2015-12-27  Tamara Chand     Decatur     Alabama      35601.0
8338 2015-12-27  Tamara Chand     Decatur     Alabama      35601.0

### Which region recorded the maximun sales count?

In [149]:
df['region'].value_counts()

region
West       3140
East       2785
Central    2277
South      1598
Name: count, dtype: int64

### Which product category is doing best (revenue and count)?

In [155]:
grouped_df = df.groupby('category')

product_count = grouped_df['sales'].count().sort_values(ascending=False)

product_rev = grouped_df['sales'].sum().sort_values(ascending=False)

print('Best product category in terms of Revenue: \n', product_rev, '\n')
print('Best product category in terms of number of products sold: \n', product_count)

Best product category in terms of Revenue:
 category
Technology         827455.8730
Furniture          728658.5757
Office Supplies    705422.3340
Name: sales, dtype: float64

Best product category in terms of number of products sold:
 category
Office Supplies    5909
Furniture          2078
Technology         1813
Name: sales, dtype: int64

## Analyzing and Summarizing using pivot_table()

### What is the region-wise revenue?

In [156]:
df.pivot_table(values = 'sales', index = ['region'], aggfunc = 'sum')

               sales
region
Central  492646.9132
East     669518.7260
South    389151.4590
West     710219.6845

In [157]:
df.pivot_table(values = 'sales',
               index = ['region'],
               margins = True,
               aggfunc = 'sum').round(2)

              sales
region
Central   492646.91
East      669518.73
South     389151.46
West      710219.68
All      2261536.78

In [158]:
df.pivot_table(values = 'sales',
               index = ['region'],
               aggfunc = 'sum').apply(lambda x: x*100/sum(x))

             sales
region
Central  21.783723
East     29.604591
South    17.207390
West     31.404295

### What is the region-wise count and the sum of sales?

In [159]:
df.pivot_table(values = 'sales', index = ['region'], aggfunc = ('count', 'sum'))

         count          sum
region
Central   2277  492646.9132
East      2785  669518.7260
South     1598  389151.4590
West      3140  710219.6845

### What is the region-wise revenue generated of each product category?

In [163]:
df.pivot_table(values = 'sales',
              index = ['region'],
              columns =['category'],
              aggfunc = 'sum')

category    Furniture  Office Supplies  Technology
region
Central   160317.4622       163590.243  168739.208
East      206461.3880       199940.811  263116.527
South     116531.4800       124424.771  148195.208
West      245348.2455       217466.509  247404.930

In [164]:
df.pivot_table(values = 'sales',
              index = ['region'],
              columns =['category'],
               margins = True,
              aggfunc = 'sum').round(2)

category  Furniture  Office Supplies  Technology         All
region
Central   160317.46        163590.24   168739.21   492646.91
East      206461.39        199940.81   263116.53   669518.73
South     116531.48        124424.77   148195.21   389151.46
West      245348.25        217466.51   247404.93   710219.68
All       728658.58        705422.33   827455.87  2261536.78

### What is the region-wise revenue generated of each product sub-category under product category?

In [165]:
df.pivot_table(values = 'sales',
              columns = ['region'],
              index =['category', 'sub_category'],
              aggfunc = 'sum').round(2)

region                         Central      East     South       West
category        sub_category
Furniture       Bookcases     23773.71  43819.33  10899.36   35320.79
                Chairs        82372.78  95687.51  44739.25  100023.20
                Furnishings   15016.00  28145.33  17062.66   28988.03
                Tables        39154.97  38809.22  43830.21   81016.23
Office Supplies Appliances    21176.83  34119.08  19525.33   29797.17
                Art            5746.19   7430.97   4510.42    9017.82
                Binders       56865.01  51255.78  36734.36   55173.63
                Envelopes      4537.30   4138.25   3345.56    4106.94
                Fasteners       769.57    819.72    503.32     909.36
                Labels         2435.54   2554.91   2344.18    5013.10
                Paper         17184.99  19538.11  13891.58   26213.63
                Storage       45407.44  69428.66  35251.10   69256.20
                Supplies       9467.37  10655.34   8318.93   17978.67
Technology      Accessories   32742.30  43906.24  26906.15   60632.01
                Copiers       37259.57  53219.46   9299.76   46469.31
                Machines      26797.38  66106.17  53890.96   42444.12
                Phones        71939.95  99884.66  58098.34   97859.50